.projects-container {
  background: #323232;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .projects {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cards {
      display: flex;
      justify-content: space-around;
      color: black;

      .card {
        background: white;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        border-radius: 2rem;
        overflow: hidden;
        .wrapper {
          width: 100%;
          max-width: 600px;
          height: 100%;
          margin: 0 auto;
          background: #ccc;
        }
        .h_iframe {
          border-radius: 2rem;
          position: relative;
          padding-top: 90%;
          height: 100%;
        }
        .h_iframe iframe {
          border-radius: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        h4 {
          margin: 1rem 0rem;
          a {
            color: black;
          }
          a:hover {
            text-decoration: none;
          }
        }

        p {
          padding: 2rem;
          padding-bottom: 0;
        }
        img {
          object-fit: cover;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
